body {
    overflow-y: scroll;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    height: 4px;
    width: 5px;
    background-color: #F5F5F5;

}

::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #ced4da;
}
::-webkit-scrollbar-thumb:horizontal{
    background: #ced4da;
    border-radius: 10px;
}
#tabdata {
    flex-wrap: nowrap;
}

#tabdata  li {
    flex: 1;
    text-align:center;
}

@media (max-height: 750px) {
    #leftBar {
        height: 487px;
        overflow-y: scroll;
    }
    #Action{
        position: relative;
    }
    .sticky-top{
        position: relative !important;
        margin-bottom: 16px;
    }
    .sticky-bottom{
        position: relative;
    }
}

#leftTempList_wrapper{
    overflow:hidden;
}
#workSpase {
    /* border: 1px solid black; */
    background: url('../imgs/gifs/SIR_v2.jpg') no-repeat;
    background-size: cover;
    overflow-y: auto!important;
}

.disabledSet {
    visibility: hidden;
    position: absolute;
}

.customCss {
    background-color: white;
}

select {
    text-align: center;
    text-align-last: center;
}

.absolutePos {
    visibility: hidden;
    position: absolute;
}

.borderModal {
    /* border: 1px solid black; */
    margin-top: 3px;
}
.controls{
    display: flex;
    padding: 4px 0;
}

#optionwiev{
    width: auto;
}

#pdfWindow {
    position: relative;
    padding: 0px !important;
    border: 0px;
    margin: 0px !important;
}

#dynamicImg {
    pointer-events: none;
    padding: 0px !important;
    border: 0px;
    margin: 0px !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

svg {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

rect {
    opacity: 0.3;
    fill: rgb(44, 211, 100);
    stroke: rgb(4, 66, 4);
    stroke-width: 1px;
}

.datacheck {
    opacity: 0.3 !important;
    fill: rgb(230, 227, 66) !important;
    stroke: rgb(4, 66, 4) !important;
    stroke-width: 1px !important;
}

.rectdis {
    opacity: 0.3 !important;
    fill: rgb(63, 63, 63) !important;
    stroke: rgb(119, 124, 119) !important;
    stroke-width: 1px !important;
}

.rectauto {
    opacity: 0.3 !important;
    fill: rgb(110, 185, 235) !important;
    stroke: rgb(85, 72, 9) !important;
    stroke-width: 1px !important;
}

.rslides_tabs {
    list-style: none;
    padding: 0;
    background: white;
    font-size: 18px;
    list-style: none;
    margin: 0 auto 50px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.rslides_tabs li {
    display: inline;
    float: none;
    margin-right: 1px;
}

.rslides_tabs a {
    line-height: 20px;
    padding: 9px 20px;
    background: transparent;
    display: inline;
}

.rslides_tabs li:first-child {
    margin-left: 0;
}

.rslides_tabs .rslides_here a {
    background: rgba(165, 189, 209, 0.404);
    /* color: rgb(12, 1, 1); */
}

#fieldPref {
    padding-top: 5px;
}

.checkdat {
    border: 1px solid green;
}

table {
    font-size: 14px;
    padding: 0px;
    margin: 0px;
}

td {
    padding: 0px;
}

.bordered {
    border: 1px solid #007bff !important;
}

.border-top {
    border-top: 1px solid #007bff !important;
}

.border-left {
    border-left: 1px solid #007bff !important;
}

.border-right {
    border-right: 1px solid #007bff !important;
}

.border-bottom {
    border-bottom: 1px solid #007bff !important;
}

.dataTables_paginate {
    display: flex;
    float: none !important;
    text-align: center !important;
    justify-content: space-between;
    padding: 0 !important;
}

.paging_simple_numbers {
    margin-top: 2px !important;
}

.dataTables_paginate a {
    font-size: .9rem;
    padding: .1rem .1rem !important;
}

table.dataTable {
    margin-top: 6px !important;
    margin-bottom: 0 !important;
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

.sticky-bottom {
    position: -webkit-sticky;
    position: sticky;
    bottom: 10px;
}

.min-h-100 {
    min-height: 100vh;
}

.max-h-100 {
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: auto;
}

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 3px 10px !important;
    cursor: pointer !important;
}

table.dataTable tbody td:focus{
    outline: none;
}
table.dataTable tbody  tr.selected:hover{
    background-color: #0275d8 !important;
    background: linear-gradient(to bottom, #0275d8 0%, #0275d8 100%);
}

table.dataTable tbody  tr:hover {
    background: linear-gradient(to bottom, #86A1BF 0%, #dcdcdc 100%);
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #86A1BF !important;
    background: linear-gradient(to bottom, #86A1BF 0%, #dcdcdc 100%);
    border: 1px solid #979797;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: #86A1BF !important;
    background: linear-gradient(to bottom, #86A1BF 0%, #dcdcdc 100%);
}

.bg-white {
    background-color: white;
}

.btn-secondary {
    background-color: #86A1BF !important;
}

.btn-secondary:hover{
    background: linear-gradient(to bottom, #86A1BF 0%, #dcdcdc 100%);
}

.testmodal {
    max-width: 80% !important;
}

#contLines {
    overflow-x: auto;
}

.floatImgandI {
    float: left;
    margin-top: 5px;
}

@media (max-width: 1200px) {
    .floatImgandI{
        display: none;
    }
    #Action a span{
        display: flex;
        justify-content: center;
        margin-left: 0px;
    }

}

.prettyText {
    margin-left: 10px;
}

.btnnotextcenter {
    text-align: start !important;
}

#preloader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    outline: 0;
    background-color: #bac1ca;
    opacity: 0.5;
}

#preloader1 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    outline: 0;
    background-color: #bac1ca;
    opacity: 0.5;
}

.progress {
    position: inherit;
    top: 45% !important;
    left: 47% !important;
    z-index: 1060;
    background-color: #bac1ca !important;
    height: auto !important;
}

.filterActive {
    border-color: #328AE9 !important;
    -moz-box-shadow: 0 0 30px #328AE9;
    -webkit-box-shadow: 0 0 30px #328AE9;
    box-shadow: 0 0 30px #328AE9;
}

.filterNotActive {
    opacity: 0.2 !important;
}

.nav-link {
    padding: 5px 10px !important;
    display: block !important;
    color: #495057;
}

.nav-link.active{
    color: #007bff !important;
}


.nav-bigger-padding {
    padding: .5rem 1.4rem !important;
}

.btn-p-30 {
    padding-left: 2rem;
    padding-right: 2rem;
}

#info_zoom,
#page_info_control {
    width: 4em;
}
.hurkanSwitch{
    margin-bottom: 0 !important;
}

.hurkanSwitch > .hurkanSwitch-switch-box > .hurkanSwitch-switch-item.active.hurkanSwitch-switch-item-status-off {
    padding-right: 15px;
    padding-left: 32px;
    background: #b2b2b2;
    color: #fff;
    text-align: right;
}

.hurkanSwitch > .hurkanSwitch-switch-box > .hurkanSwitch-switch-item.active.hurkanSwitch-switch-item-status-on {
    padding-right: 32px;
    padding-left: 15px;
    background-color: #75b936;
    color: #fff;
    text-align: left;
}

.hurkanSwitch > .hurkanSwitch-switch-box > .hurkanSwitch-switch-item.active {
    opacity: 1;
    display: block;
}

.hurkanSwitch > .hurkanSwitch-switch-box.switch-animated-on > .hurkanSwitch-switch-item.active {
    opacity: 1;
}

.hurkanSwitch > .hurkanSwitch-switch-box.switch-animated-on > .hurkanSwitch-switch-item.active .lbl {
    opacity: 1;
    animation-name: active;
    animation-duration: 0.5s;
}

.hurkanSwitch > .hurkanSwitch-switch-box > .hurkanSwitch-switch-item {
    line-height: 16px;
    font-size: 100%;
    opacity: 0;
    display: none;
    border-radius: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    box-shadow: 0px 0px 2px #777777 inset;
    height: 25px;
    box-sizing: border-box;
}

.hurkanSwitch > .hurkanSwitch-switch-box > .hurkanSwitch-switch-item:hover {
    text-decoration: none;
}

.hurkanSwitch > .hurkanSwitch-switch-box > .hurkanSwitch-switch-item.hurkanSwitch-switch-item-status-off > .hurkanSwitch-switch-cursor-selector {
    left: 5px;
}

.hurkanSwitch > .hurkanSwitch-switch-box > .hurkanSwitch-switch-item.hurkanSwitch-switch-item-status-on > .hurkanSwitch-switch-cursor-selector {
    right: 5px;
}

.hurkanSwitch > .hurkanSwitch-switch-box.switch-animated-on > .hurkanSwitch-switch-item.hurkanSwitch-switch-item-status-on > .hurkanSwitch-switch-cursor-selector {
    animation-duration: 0.5s;
    animation-name: right;
}

.hurkanSwitch > .hurkanSwitch-switch-box.switch-animated-on > .hurkanSwitch-switch-item.hurkanSwitch-switch-item-status-off > .hurkanSwitch-switch-cursor-selector {
    animation-duration: 0.5s;
    animation-name: left;
}

@keyframes left {
    0% {
        left: 100%;
    }
    100% {
        left: 5px;
    }
}

@keyframes right {
    0% {
        right: 100%;
    }
    100% {
        right: 5px;
    }
}

@keyframes active {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hurkanSwitch > .hurkanSwitch-switch-box > .hurkanSwitch-switch-item > .hurkanSwitch-switch-cursor-selector {
    height: 18px;
    position: absolute;
    top: 4.5px;
    width: 18px;
    margin-top: -1px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.1);
    display: block;
    content: "";
    border-radius: 100%;
    background: #fff
}

.hurkanSwitch-switch-plugin.hurkanSwitch-switch-input {
    display: none
}

.hurkanSwitch > .hurkanSwitch-switch-box > .hurkanSwitch-switch-item.hurkanSwitch-switch-item-color-success {
    background-color: #75b936 !important
}

.hurkanSwitch > .hurkanSwitch-switch-box > .hurkanSwitch-switch-item.hurkanSwitch-switch-item-color-warning {
    background-color: #f0ad4e !important
}

.hurkanSwitch > .hurkanSwitch-switch-box > .hurkanSwitch-switch-item.hurkanSwitch-switch-item-color-info {
    background-color: #5bc0de !important
}

.hurkanSwitch > .hurkanSwitch-switch-box > .hurkanSwitch-switch-item.hurkanSwitch-switch-item-color-default {
    background-color: #fff !important;
    color: #777 !important
}

.hurkanSwitch > .hurkanSwitch-switch-box > .hurkanSwitch-switch-item.hurkanSwitch-switch-item-color-default > .hurkanSwitch-switch-cursor-selector {
    border: 1px solid #eee !important;
    margin-top: -2.2px
}

.hurkanSwitch > .hurkanSwitch-switch-box > .hurkanSwitch-switch-item.hurkanSwitch-switch-item-color-primary {
    background-color: #0275d8 !important
}

.hurkanSwitch > .hurkanSwitch-switch-box > .hurkanSwitch-switch-item.hurkanSwitch-switch-item-color-danger {
    background-color: #d90909 !important
}

.hurkanSwitch > .hurkanSwitch-switch-box > .hurkanSwitch-switch-item.disabled {
    opacity: 0.65;
    filter: alpha(opacity=65);
    cursor: default
}

.hurkanSwitch > .hurkanSwitch-switch-box {
    cursor: pointer;
    background: #fff;
    overflow: hidden;
    border: 0px solid #ddd;
    padding: 0px;
    display: inline-block;
    width: auto;
}

.hurkanSwitch {
    display: inline-block
}

.hurkanSwitch.switch-responsive {
    display: block
}

.hurkanSwitch.switch-responsive > .hurkanSwitch-switch-box {
    display: block !important
}

.tippy-tooltip {
    /* Your styling here. Example: */
    font-family: sans-serif;
    background-color: white;
    color: black;
    font-size: 10px;
    border: 1px solid #b2b2b2;
    line-height: 4px;
}

div.dataTables_wrapper div.dataTables_filter input {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    border: 1px solid #cccccc;
}

div.dataTables_wrapper div.dataTables_filter input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 1px rgba(0, 123, 255, .25);
}

