html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', 'sans-serif';
}

.content-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 10% 0 10%;
}

.title-user__name {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

.content-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 5vh 10% 0 10%;
    margin-bottom: 2rem;
}

.content-right button {
    cursor: pointer;
}

#temp_request_table_child_wrapper {
    width: 100%;
    padding: 5vh 0 0 0;
}

div.dataTables_wrapper div.dataTables_filter input {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    border: 1px solid #cccccc;
}

div.dataTables_wrapper div.dataTables_filter input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 1px rgba(0, 123, 255, .25);
}

table.dataTable {
    margin-top: 6px !important;
    margin-bottom: 0 !important;
    font-size: 14px;
    padding: 0px;
}

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 3px 10px !important;
    cursor: pointer !important;
}

table.dataTable tbody td:focus {
    outline: none;
}

table.dataTable tbody tr.selected:hover {
    background-color: #0275d8 !important;
    background: linear-gradient(to bottom, #0275d8 0%, #0275d8 100%);
}

table.dataTable tbody tr:hover {
    background: linear-gradient(to bottom, #86A1BF 0%, #dcdcdc 100%);
}

.dataTables_paginate {
    display: flex;
    float: none !important;
    text-align: center !important;
    justify-content: space-between;
    padding: 0 !important;
}

.paging_simple_numbers {
    margin-top: 15px !important;
}

.dataTables_paginate a {
    font-size: .9rem;
    padding: .1rem .1rem !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #86A1BF !important;
    background: linear-gradient(to bottom, #86A1BF 0%, #dcdcdc 100%);
    border: 1px solid #979797;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: #86A1BF !important;
    background: linear-gradient(to bottom, #86A1BF 0%, #dcdcdc 100%);
}

.btn-secondary {
    background-color: #86A1BF !important;
}

.btn-secondary:hover {
    background: linear-gradient(to bottom, #86A1BF 0%, #dcdcdc 100%);
}

/* preloader */

.preloader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    outline: 0;
    background-color: #bac1ca;
    opacity: 0.5;
}

.preloader .progress {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);;
    z-index: 1060;
    background-color: #bac1ca;
    font-size: 5em;
    height: auto;
}

/*SnackBar Style*/
.snackBar--message {
    border-radius: 6px;
}

.snackBar--message .action {
    outline: none;
}

.snackBar--message p {
    padding-left: 20px !important;
    font-family: 'Roboto', 'sans-serif';
    font-size: 20px !important;
    width: 90%;
}

.snack--info p::before {
    content: url("../imgs/svg/info.svg");
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: calc(50% - 8px);
}

.snack--alert p::before {
    content: url("../imgs/svg/ok.svg");
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: calc(50% - 8px);
}

.snack--error p::before {
    content: url("../imgs/svg/error.svg");
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: calc(50% - 8px);
}

