 .led-on {
     margin-top: 5px;
     margin-right: auto;
     margin-bottom: 0px;
     width: 24px;
     height: 24px;
     background-color: #007bff;
     border-radius: 50%;
     box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #007bff 0 2px 12px;
 }
 
 .led-off {
     margin-top: 5px;
     margin-right: auto;
     margin-bottom: 0px;
     width: 24px;
     height: 24px;
     background-color: #f4f7ee;
     border-radius: 50%;
     box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, white 0 2px 12px;
 }
